form.signup,
form.login {
  margin-top: 50px;
}
#navbarCustom {
  background-color: lightcoral;
  font-family: sans-serif;
  font-weight: bold;
  
}

body {
  font-family: sans-serif;
  background-color: aliceblue;
  
}
